html {
  background-color: red;

}
h1 {
  text-align: center;
  color:black;
}
#image{
  max-height:350px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#description {
  text-align: center;
  font-style: italic;
  color: blue;

}
#btn{
  text-align: center;

}
